body{
    background-color: #832232!important;
    color: #fff!important;
}


.invisibile{
    visibility: hidden;
    display: none!important;
}

.form-select, .form-control {
    background-color: #fff!important;
    color: #334463!important;
}

textarea{
    color: #334463!important;
}

.btn-outline-primary{
    background-color: #fff!important;
    border-color: #3c546c!important;
    color: #3c546c!important;
}

.btn-outline-primary{
    background-color: #fff!important;
    border-color: #3c546c!important;
    color: #3c546c!important;
}

.form-control:focus, .form-select:focus, .btn-outline-primary:focus{
    border-color: rgb(131, 34, 50)!important;
    box-shadow: inset 0 1px 1px rgb(186, 139, 148,0.075), 0 0 8px rgb(131, 34, 50,0.6)!important;
}

